<!--<div class="navbar navbar-inverse">
    <div class="navbar-inner">
    <a class="brand" href="#">Title</a>
    <ul class="nav">
       <li class="dropdown">
        <a class="dropdown-toggle"
          data-toggle="dropdown"
          href="#">
          Dropdown
          <b class="caret"></b>
        </a>
    <ul class="dropdown-menu">-->
          <!-- links -->
    <!--</ul>-->
    <!--<li class="active"><a href="#">Home</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    </ul>
    </div>
    </div>-->


<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav pull-left">
      <li>
        <a href="home">INDAUS Fair</a>
      </li>
    </ul>
    <ul class="nav pull-right">

       <li>
          <%= link_to "Contact",  new_enquiry_path %>
      </li>
      <li>
        <%= link_to "Gallery", gallery_path %>
      </li>
      <li>
        <%= link_to "Sponsors", sponsors_path %>
      </li>
      <li>
        <%= link_to "Mission", mission_index_path %>
      </li>
      <li><%= link_to 'Login', new_user_session_path %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
      
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
        <li><%= link_to 'Edit account', edit_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <li><%= link_to 'Admin', users_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>   